<!DOCTYPE html>
<html>
<head>
<title>Test Report</title>
<style>
*{margin:0;padding:0;box-sizing:border-box;-webkit-box-sizing:border-box;}
	page {
	  background: white;
	  display: block;
	  margin: 1em auto;
	  margin-bottom: 0.5cm;
	  box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
	}
	page[size="A4"] {  
	  width: 10.5cm;  /* 21cm for A4/4  */
	  height: 14.85cm; /* 29.7cm  for A4/4 */ 
	  padding: 2em;
	  font-size:13px;
	}
</style>
</head>
<body style="background: rgb(204,204,204);font-family:sans-serif, Arial;color:#333;">

	<page size="A4">
		
		<table width="100%" cellpadding="4px" cellspacing="0" border="0" style="border-collapse:collapse;">
			<tr>
				<td valign="top" align="left">
					<table  cellspacing="0" cellpadding="0px">
						<tr>
							<th align="left" valign="top"><h3 style="margin: 0px;">Sara Technologies Pvt. Ltd.</h3></th>
						</tr>
						<tr>
							<td align="left" valign="top"><i>Touching IT needs...</i></td>
						</tr>
					</table>
				</td>

				<td valign="top" align="left" width="35%">
					<table width="100%" cellspacing="0" cellpadding="4px">
						<tr>
							<th align="left" valign="top"><h2 style="margin: 0px;">MEDICINE INVOICE</h2></th>
						</tr>
					</table>
				</td>
			</tr>

			<tr>
				<td valign="top" align="left">
					<table  cellspacing="0" cellpadding="0px" border="0" width="100%">
						<tr>
							<th align="left" valign="top"><u>Street Address:</u></th>
						</tr>
						<tr>
							<td align="left" valign="top">
							City, ST Zip Code<br>
							<span>Phone: 405,555,0190</span>
							<span style="margin-left:3%;"> Fax: 405,555,0191</span>
							</td>
						</tr>
					</table>
				</td>

				<td valign="top" align="left" width="35%">
					<table width="100%" cellspacing="0" cellpadding="4px">
						<tr>
							<th align="left" valign="top" style="font-size:13px;">Date:</th>
							<td align="left" valign="top" style="font-size:13px;">03/06/2017</td>
						</tr>
						<tr>
							<th align="left" valign="top" style="font-size:13px;">INVOICE:</th>
							<td align="left" valign="top" style="font-size:13px;">INV001</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>




		<table width="100%" cellpadding="4px" cellspacing="0" border="0" style="border-collapse: collapse;margin-top:2%">
			<tr>
				<th align="left" valign="top" width="15%">Bill To:</th>
				<td align="left" valign="top">--</td>
			</tr>
			<tr>
				<th align="left" valign="top" width="15%">Name:</th>
				<td align="left" valign="top">--</td>
			</tr>
		</table>




		<div style="float:left;width:100%;margin-top:2%;margin-bottom:3%;font-size:12px;border:1px solid #111;">
			<div style="float:left;width:11%;padding:4px;font-weight:bold;border-right:1px solid #111;border-bottom:1px solid #111;">Sr.No.</div>
			<div style="float:left;width:74%;padding:4px;font-weight:bold;border-right:1px solid #111;border-bottom:1px solid #111;">Description</div>
			<div style="float:left;width:15%;padding:4px;font-weight:bold;border-bottom:1px solid #111;">Total</div>

			<!-- body -->
			<div style="float:left;width:11%;padding:4px;border-right:1px solid #111;">1</div>
			<div style="float:left;width:74%;padding:4px;border-right:1px solid #111;">1Tabs should be give.</div>
			<div style="float:left;width:15%;padding:4px;text-align:right;">1000</div>



			<!-- dont delete these divs -->
			<div style="float:left;width:11%;height:50px;padding:4px;border-right:1px solid #111;"></div>
			<div style="float:left;width:74%;height:50px;padding:4px;border-right:1px solid #111;"></div>
			<div style="float:left;width:15%;height:50px;padding:4px;"></div>
		</div>
		
		
		
		
		



		
		<table width="100%" cellpadding="4px" cellspacing="0" border="0" style="border-collapse: collapse;margin-top:1%">
			<tr>
				<td align="left" valign="top" width="40%" style="font-size:15px;padding:4px;"></td>
				<th align="left" valign="top" width="30%" style="font-size:12px;border: 1px solid #000;padding:4px;">Sub Total</th>
				<td align="right" valign="top" width="20%" style="font-size:13px;border: 1px solid #000;">1000</td>
			</tr>
			<tr>
				<td align="left" valign="top" width="40%" style="font-size:15px;"></td>
				<th align="left" valign="top" width="30%" style="font-size:12px;border: 1px solid #000;padding:4px;">G.S.T 8%</th>
				<td align="right" valign="top" width="20%" style="font-size:13px;border: 1px solid #000;">--</td>
			</tr>
			<tr>
				<td align="left" valign="top" width="40%" style="font-size:15px;"></td>
				<th align="left" valign="top" width="30%" style="font-size:12px;border: 1px solid #000;padding:4px;">C.S.T 8%</th>
				<td align="right" valign="top" width="20%" style="font-size:13px;border: 1px solid #000;">--</td>
			</tr>
			<tr>
				<td align="left" valign="top" width="40%" style="font-size:15px;"></td>
				<th align="left" valign="top" width="30%" style="font-size:12px;border: 1px solid #000;padding:4px;">Shipping & Handling</th>
				<td align="right" valign="top" width="20%" style="font-size:13px;border: 1px solid #000;">--</td>
			</tr>
			<tr>
				<td align="left" valign="top" width="40%" style="font-size:15px;"></td>
				<th align="left" valign="top" width="30%" style="font-size:12px;border: 1px solid #000;padding:4px;">Total</th>
				<td align="right" valign="top" width="20%" style="font-size:13px;border: 1px solid #000;">200.00</td>
			</tr>
			<tr>
				<td align="left" valign="top" width="40%" style="font-size:15px;"></td>
				<th align="left" valign="top" width="30%" style="font-size:12px;border: 1px solid #000;padding:4px;">Paid</th>
				<td align="right" valign="top" width="20%" style="font-size:13px;border: 1px solid #000;">--</td>
			</tr>
			<tr>
				<td align="left" valign="top" width="40%" style="font-size:15px;"></td>
				<th align="left" valign="top" width="30%" style="font-size:12px;border: 1px solid #000;padding:4px;">TOTAL DUE</th>
				<td align="right" valign="top" width="20%" style="font-size:13px;border: 1px solid #000;">--</td>
			</tr>
		</table>
		
		
		
		
		
		
		
		
		


	</page>

</body>
</html>