<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body style="font:sans-serif, Arial;font-size:13px;">
<div style="max-width:650px;padding:1em;margin:20px auto;">
<table width="100%" cellspacing="0" cellpadding="0" border="0" align="center" height="100%">
	<tbody>
		<tr>
			<td valign="top" align="center">
				<table cellspacing="0" cellpadding="0" border="0" style="font-family:sans-serif, Arial;">
					<tbody>
						<tr>
							<td style="padding:0 3%">
								<table>
									<tbody>
										<tr>
											<td valign="top" align="center">
												<table width="100%" cellspacing="0" cellpadding="0" border="0">
													<tbody>
														<tr>
															<td style="padding:0;" valign="top">
																<h1>Hi {name},</h1>
															</td>
															<td valign="top" align="right">
																<img src="http://www.sarasolutions.in/images/logo.png" >
															</td>
														</tr>
													</tbody>
												</table>
											</td>
											</tr> 	
											<tr>
											<td valign="top" align="center">
												<table width="100%" cellspacing="0" cellpadding="0" border="0">
													<tbody>
														<tr>
															<td valign="top" style="font-family:sans-serif, Arial;padding:0;">
																<h2 style="font-family:sans-serif, Arial;margin:0;">Welcome to <b>Sara Technology Pvt. Ltd.</b>
																</h2>
																
																<a href="{url}" style="font-size:18px;font-weight:500;font-family:Helvetica,Arial,sans-serif;text-decoration:none;line-height:50px;width:230px;display:inline-block;background:#eb8712;color:#FFFFFF;text-align:center;letter-spacing:1px;border-radius:4px;display:block;margin:40px auto" target="_blank">Confirm Email
																<!-- <img src="http://192.168.1.240/hmas/assets/images/confirm_mail.jpg" style="margin:auto;"> -->
																</a>
																
																You're now one step closer to being Sara Technology Pvt. Ltd. Don't forget to use your free trial, we know you'll love it!
															</td>
														</tr>
													</tbody>
												</table>
											</td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
		<tr>
			<td valign="top" align="center">
				<table  width="100%" cellspacing="0" cellpadding="0" border="0" style="font-family:sans-serif, Arial;font-size:12px;margin-top:2%">
					<tbody>
						<tr>
							<td valign="top">&copy; 2017 Sara Technology Pvt. Ltd.</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
	</tbody>	
</table>
</div>
</body>
</html>

