<!DOCTYPE html>
<html>
<head>
	<title>Email</title>
</head>
<body style="font:13px arial;">

	<div style="max-width:680px;width:100%;min-height:500px;background:#eee;margin:20px auto;padding:2em;">
		<table border="0" cellpadding="0" cellspacing="0" style="width:100%;border: none;">
			<tr>
				<td align="left" valign="top" style="background:#fff;padding:15px 2em;">
					<div style="width:100%;min-height:40px;text-align:center">
						<img src="http://www.sarasolutions.in/images/logo.png">
					</div>
				</td>
			</tr>
			<tr>
				<td align="left" valign="top" style="background:#fff;padding:15px 2em;">
					<div style="text-align:center;font-size:13px;font-weight: bold;">
						Welcome to <span style="color:#eb8712;">Sara Technologies Pvt. Ltd.</span> We offers internet marketing, website designing and software development.
					</div>
				</td>
			</tr>
			<tr>
				<td align="left" valign="top" style="background:#fff;">
					<div style="margin-top:1em;">
						<img src="http://www.sarasolutions.in/images/software_development.jpg" width="100%">
					</div>
				</td>
			</tr>
			<tr>
				<td align="left" valign="top" style="background:#FFF;padding:15px 2em;">
					<div style="font-weight:13px;font-weight:bold;border-bottom:2px solid #333;width:80px;padding-bottom:5px;">What we do</div>
					<ul style="list-style:square;font-size:13px;color:#333;">
						<li><a href="" target="_blank" style="text-decoration:none;outline:0;color:#333;font-size:12px;">INTERNET MARKETING</a></li>
						<li><a href="" target="_blank" style="text-decoration:none;outline:0;color:#333;font-size:12px;">SOFTWARE DEVELOPMENT</a></li>
						<li><a href="" target="_blank" style="text-decoration:none;outline:0;color:#333;font-size:12px;">WEBSITE DESIGN & DEVELOPMENT</a></li>
					</ul>
				</td>
			</tr>
			<tr>
				<td align="left" valign="top" style="background:#FFF;">
					<div>
						<img src="http://www.sarasolutions.in/images/custom_software.jpg" width="100%">
					</div>
				</td>
			</tr>
			<tr>
				<td align="left" valign="top" style="background:#FFF;padding:15px 2em;">
					<div style="font-weight:13px;font-weight:bold;border-bottom:2px solid #333;width:120px;padding-bottom:5px;">Internet Marketing</div>
					<ul style="float:left;list-style:square;font-size:13px;color:#333;">
						<li><a href="" target="_blank" style="text-decoration:none;outline:0;color:#333;font-size:12px;">Search Engine Optimization (SEO)</a></li>
						<li><a href="" target="_blank" style="text-decoration:none;outline:0;color:#333;font-size:12px;">Search Media Optimization (SMO)</a></li>
						<li><a href="" target="_blank" style="text-decoration:none;outline:0;color:#333;font-size:12px;">WEBSITE Pay Per Click Services (PPC)</a></li>
					</ul>
					<img src="http://www.sarasolutions.in/images/internet_marketing.jpg" width="40%" align="right">
				</td>
			</tr>
			<tr>
				<td align="left" valign="top" style="background:#FFF;padding:15px 2em;">
					<div style="font-weight:13px;font-weight:bold;border-bottom:2px solid #333;width:150px;padding-bottom:5px;">Software Development</div>
					<ul style="float:left;list-style:square;font-size:13px;color:#333;">
						<li><a href="" target="_blank" style="text-decoration:none;outline:0;color:#333;font-size:12px;">Search Customized Development</a></li>
						<li><a href="" target="_blank" style="text-decoration:none;outline:0;color:#333;font-size:12px;">Search Maintenance Services</a></li>
					</ul>
					<img src="http://www.sarasolutions.in/images/software_development.jpg" width="40%" align="right">
				</td>
			</tr>
			
			<tr>
				<td align="left" valign="top" style="background:#FFF;padding:15px 2em;">
					<div style="font-weight:13px;font-weight:bold;border-bottom:2px solid #333;width:205px;padding-bottom:5px;">Website Design & Development</div>
					<ul style="float:left;list-style:square;font-size:13px;color:#333;">
						<li><a href="" target="_blank" style="text-decoration:none;outline:0;color:#333;font-size:12px;">Search Static Website</a></li>
						<li><a href="" target="_blank" style="text-decoration:none;outline:0;color:#333;font-size:12px;">Search Dynamic Website</a></li>
						<li><a href="" target="_blank" style="text-decoration:none;outline:0;color:#333;font-size:12px;">Search E-commerce</a></li>
						<li><a href="" target="_blank" style="text-decoration:none;outline:0;color:#333;font-size:12px;">Search Web Portal</a></li>
					</ul>
					<img src="http://www.sarasolutions.in/images/web_development.jpg" width="40%" align="right">
				</td>
			</tr>
			<tr>
				<td align="left" valign="top">
					<div>
						<img src="http://www.sarasolutions.in/images/web_development.jpg" width="100%">
					</div>
				</td>
			</tr>
			<tr>
				<td align="left" valign="top" style="background:#FFF;padding:15px 2em;">
					<div style="font-weight:13px;font-weight:bold;border-bottom:2px solid #333;width:150px;padding-bottom:5px;">Software Products</div>
					<ul style="list-style:square;font-size:13px;color:#333;">
						<li><a href="" target="_blank" style="text-decoration:none;outline:0;color:#333;font-size:12px;">OPD Management Software (OPD MS)</a></li>
						<li><a href="" target="_blank" style="text-decoration:none;outline:0;color:#333;font-size:12px;">Pathology Management Software (Pathology MS)</a></li>
						<li><a href="" target="_blank" style="text-decoration:none;outline:0;color:#333;font-size:12px;">Hospital Management Advance Software (HMAS)</a></li>
						<li><a href="" target="_blank" style="text-decoration:none;outline:0;color:#333;font-size:12px;">Inventory Management</a></li>
					</ul>
				</td>
			</tr>
			<tr>
				<td align="left" valign="top" style="background:#fff;padding:15px 2em;">
					<div style="text-align:center;margin-top:1em;">
						 <small style="font-size:11px;">&copy; Copyright : Sara Technologies Pvt. Ltd. <a href="" style="color:#333;outline:0;">Unsubscribe</a> form your list.</small> <br>
						Sara Technologies Pvt. Ltd.
					</div>
				</td>
			</tr>
		</table>
	</div>

</body>
</html>