<!DOCTYPE html>
<html>
<head>
<title>Test Report</title>
<style>
	page {
	  background: white;
	  display: block;
	  margin: 0 auto;
	  margin-bottom: 0.5cm;
	  box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
	}
	page[size="A4"] {  
	  width: 21cm;
	  height: 29.7cm;  
	  padding:5em  3em;
	  font-size:13px;
	}
</style>
</head>
<body style="background: rgb(204,204,204);font-family:sans-serif, Arial;color:#333;">

	<page size="A4">
		
		<table width="100%" cellpadding="4px" cellspacing="0" border="0" style="border-collapse:collapse;">
			<tr>
				<th align="left" valign="top" width="20%">Patient Reg. No. :</th>
				<td align="left" valign="top" width="40%">PATSe00031</td>
				<th align="left" valign="top" width="20%">Lab Ref. No. :</th>
				<td align="left" valign="top" width="20%">LPNSe00039</td>
			</tr>
			<tr>
				<th align="left" valign="top" width="">Patient Name :</th>
				<td align="left" valign="top" width="">Suresh</td>
				<th align="left" valign="top" width="">Mobile No. :</th>
				<td align="left" valign="top" width="">4444444444</td>
			</tr>
			<tr>
				<th align="left" valign="top" width="">Gender/Age :</th>
				<td align="left" valign="top" width="">M/23 Years</td>
				<th align="left" valign="top" width="">Collected Date:</th>
				<td align="left" valign="top" width="">01/06/2017</td>
			</tr>
			<tr>
				<th align="left" valign="top" width="">Referrerd By :</th>
				<td align="left" valign="top" width="">Dr. Raj</td>
				<th align="left" valign="top" width="">Reported Date:</th>
				<td align="left" valign="top" width=""></td>
			</tr>
			<tr>
				<th align="left" valign="top" width="">Doctor Name :</th>
				<td align="left" valign="top" width=""></td>
				<th align="left" valign="top" width=""></th>
				<td align="left" valign="top" width=""></td>
			</tr>
		</table>




		
		<table width="100%" cellpadding="4px" cellspacing="0" border="0" style="border-collapse:collapse;margin-top:2%;">
			<tr>
				<th align="center" valign="top" width=""><h2 style="margin:0;"><u>HAEMATOLOGY ROUTINE</u></h2></th>
			</tr>
		</table>

		
		<table width="100%" cellpadding="4px" cellspacing="0" border="0" style="border-collapse:collapse;margin-top:1%;">
			<tr>
				<th align="left" valign="top" width="30%" style="border-top:1px solid #000;border-bottom:1px solid #000;"><u>Parameter</u></th>
				<th align="left" valign="top" width="20%" style="border-top:1px solid #000;border-bottom:1px solid #000;"><u>Result</u></th>
				<th align="left" valign="top" width="20%" style="border-top:1px solid #000;border-bottom:1px solid #000;"><u>Unit</u></th>
				<th align="left" valign="top" width="30%" style="border-top:1px solid #000;border-bottom:1px solid #000;"><u>Referance Range</u></th>
			</tr>
			<tr>
				<td align="left" valign="top" width="30%" style="font-size:12px;">HAEMOGLOBIN</td>
				<td align="left" valign="top" width="20%" style="font-size:12px;">12</td>
				<td align="left" valign="top" width="20%" style="font-size:12px;">gm%</td>
				<td align="left" valign="top" width="30%" style="font-size:12px;">12-16</td>
			</tr>
			<tr>
				<td align="left" valign="top" width="30%" style="font-size:12px;">TOTAL LEUCOCYTE COUNT</td>
				<td align="left" valign="top" width="20%" style="font-size:12px;">--</td>
				<td align="left" valign="top" width="20%" style="font-size:12px;">cell/cumm</td>
				<td align="left" valign="top" width="30%" style="font-size:12px;">4000-11000</td>
			</tr>
		</table>




		
		<table width="100%" cellpadding="4px" cellspacing="0" border="0" style="border-collapse:collapse;margin-top:5%;">
			<tr>
				<td align="left" valign="top" width="">
					<strong>Total Hemoglobin (Hgb or Hb) </strong> 
					<span>A Low hemoglobin level indicates anemia. Hemoglobin in the body is dependent upon amounts of iron. A  lack of available iron causes one type of anemia, due to the reduced production of hemoglobin .A low level of Hemoglobin is a sign of anemia.</span>
				</td>
			</tr>
			<tr>
				<td align="left" valign="top" width="">
					<strong>Total Leukocyte Count (TLC)-</strong> 
					<span>Leukocytes are White Blood Cells defending the body against infections and diseases. Low TLC Decrease in White Blood Cells which is termed Leucopenia. It is seen in the following conditions:  In patients undergoing Chemotherapy and Radiation therapy. Aplastic Anaemia - failure of formation of white and red blood cells. High TLC Increase in White Blood Cells is termed Leucocytosis. It is seen in the following conditions: It is commonly seen in acutely ill patients. In new born babies - this is normal and will settle down. Viral, fungal, bacterial and parasitic infections. </span>
				</td>
			</tr>
		</table>

		
		<table width="100%" cellpadding="4px" cellspacing="0" border="0" style="border-collapse:collapse;margin-top:5%;">
			<tr>
				<th align="left" valign="top" width="30%" style="border-top:1px solid #000;border-bottom:1px solid #000;"><u>Parameter</u></th>
				<th align="left" valign="top" width="20%" style="border-top:1px solid #000;border-bottom:1px solid #000;"><u>Result</u></th>
				<th align="left" valign="top" width="20%" style="border-top:1px solid #000;border-bottom:1px solid #000;"><u>Unit</u></th>
				<th align="left" valign="top" width="30%" style="border-top:1px solid #000;border-bottom:1px solid #000;"><u>Referance Range</u></th>
			</tr>
			<tr>
				<td align="left" valign="top" width="30%" style="font-size:12px;">POLYMORPH</td>
				<td align="left" valign="top" width="20%" style="font-size:12px;">--</td>
				<td align="left" valign="top" width="20%" style="font-size:12px;">%</td>
				<td align="left" valign="top" width="30%" style="font-size:12px;">40-70</td>
			</tr>
		</table>




		
		<table width="100%" cellpadding="4px" cellspacing="0" border="0" style="border-collapse:collapse;margin-top:5%;">
			<tr>
				<td align="left" valign="top" width="">
					<strong>Lymphocytes- </strong> 
					<span>Higher with some viral infections such as glandular fever and. Also raised in chronic lymphocytic leukemia(CLL). Can be decreased by HIV infection. In adults, lymphocytes are the second most common WBC type after neutrophils. In young children under age 8, lymphocytes are more common than neutrophils.</span>
				</td>
			</tr>
			<tr>
				<td align="left" valign="top" width="">
					<strong> EOSINOPHILS-</strong> 
					<span> May indicate bacterial infection. May also be raised in acute viral infections. Because of the segmented appearance of the nucleus, eosinophils are sometimes referred to as "segs". The nucleus of less mature eosinophils is not segmented, but has a band or rod-like shape. Less mature eosinophils - those that have recently been released from the bone marrow into the bloodstream - are known as "bands" or "stabs". Stab is a German term for rod.</span>
					<strong>Monocytes-</strong>
					<span>May be raised in bacterial infection, tuberculosis, malaria, Rocky Mountain spotted fever, monocytic leukemia, chronic ulcerative colitis and regional enteritis Eosinophil granulocytes- Increased in parasitic infections, asthma, or allergic reaction.</span>
					<strong>Basophil granulocytes- </strong>
					<span>May be increased in bone marrow related conditions such as leukemia or lymphoma.</span>
				</td>
			</tr>
		</table>
		
		
		
		
		
		
		
		
		


	</page>

</body>
</html>