<!DCOTYPE html>
<html lang="en">
<head>
  <title>Test Report</title>
  <style>
    page {
      background: white;
      display: block;
      margin: 0 auto;
      margin-bottom: 0.5cm;
      box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
    }
    page[size="A4"] {  
      width: 21cm;
      height: 29.7cm; 
      padding: 2em;
    }
  </style>
</head>
<body style="font:13px sans-serif, Arial;">
<page size="A4" style="margin-top: 0.5in;margin-right: 0.25in;margin-bottom: 0.50in;margin-left: 0.25in;">
    
	
	
	<!-- New -->
	<div style="float:left;width:100%;text-align:center;">
		<h1 style="font-size:31pt;">IGPL AYURVEDIC HOSPTIAL</h1>
	</div>
	<div style="float:left;width:100%;text-align:center;">
		<img src="file://///PHP-SERVER/PHP-Project/opd_medicine/assets/images/medical_symbol.png" width="200"/>
	</div>
	<div style="float:left;width:100%;text-align:center;margin-top:10px;font-size:14pt;">
		1<sup>st</sup> Floor, Chandra Complex, Mahadeo Chowk, Arira, Bihar - 84311
	</div>
	
	<div style="float:left;width:100%;height:1px;background:black;margin:10px 0;"></div>
	
	<div style="float:left;width:100%;height:30px;margin-bottom:5px;">
		<div style="float:right;width:;text-align:left;">
			<b>Date: </b> <span> ............................ </span>
		</div>
	</div>
	
	<div style="float:left;width:100%;margin-bottom:5px;">
		<div style="float:left;width:70%;text-align:left;">
			<b>Patient's Name: </b> <span> ......................................................................................................... </span>
		</div>
		<div style="float:left;width:30%;text-align:left;">
			<b>Age: </b> <span> ........................... </span>
		</div>
	</div>
	
	<div style="float:left;width:100%;margin-bottom:5px;">
		<div style="float:left;width:30%;text-align:left;">
			<b>Sex: </b> <span> .................................................. </span>
		</div>
		<div style="float:left;width:40%;text-align:left;">
			<b>Residence: </b> <span> ..................................................... </span>
		</div>
		<div style="float:left;width:30%;text-align:left;">
			<b>Wt: </b> <span> ............................. </span>
		</div>
	</div>
	
	<div style="float:left;width:100%;margin-bottom:5px;">
		<div style="float:left;width:30%;text-align:left;">
			<b>BP: </b> <span> .................................................. </span>
		</div>
		<div style="float:left;width:40%;text-align:left;">
			<b>Temp: </b> <span> ............................................................. </span>
		</div>
		<div style="float:left;width:30%;text-align:left;">
			<b>Pulse: </b> <span> ............................. </span>
		</div>
	</div>


    <table width="100%" cellpadding="0" cellspacing="0" border="" style="border-collapse:collapse;margin-top:20px;float:left;">
      <tr>
        
        <td valign="top" align="left" width="20%">
          <table width="100%" cellpadding="1px 4px" cellspacing="0" style="border-collapse: collapse;font-size:13px;">
            <tr><th valign="top" align="center" width="50%" style="border-bottom:1px solid black;padding-left: 4px;"><b>BP</b></th></tr>
            <tr><td valign="top" align="left"><div style="float:left;min-height:20px;text-align: left;padding-left: 4px;"></div></td></tr>
          </table>
        </td>

        <td valign="top" align="left" width="20%">
          <table width="100%" cellpadding="1px" cellspacing="0" style="border-collapse: collapse;font-size:13px;">
            <tr><th valign="top" align="center" width="50%" style="border-bottom:1px solid black;padding-left: 4px;"><b>Temp</b></th></tr>
            <tr><td valign="top" align="left"><div style="float:left;text-align: left;padding-left: 4px;"></div></td></tr>
          </table>
        </td>

        <td valign="top" align="left" width="20%">
          <table width="100%" cellpadding="1px 4px" cellspacing="0" style="border-collapse: collapse;font-size:13px;">
            <tr><th valign="top" align="center" width="50%" style="border-bottom:1px solid black;padding-left: 4px;"><b>Weight</b></th></tr>
            <tr><td valign="top" align="left"><div style="float:left;text-align: left;padding-left: 4px;"></div></td></tr>
          </table>
        </td>

         

         <td valign="top" align="left" width="20%">
          <table width="100%" cellpadding="1px 4px" cellspacing="0" style="border-collapse: collapse;font-size:13px;">
            <tr><th valign="top" align="center" width="50%" style="border-bottom:1px solid black;padding-left: 4px;"><b>PR</b></th></tr>
            <tr><td valign="top" align="left"><div style="float:left;text-align: left;padding-left: 4px;"></div></td></tr>
          </table>
        </td>

       
         
        <td valign="top" align="left" width="20%">
          <table width="100%" cellpadding="1px 4px" cellspacing="0" style="border-collapse: collapse;font-size:13px;">
            <tr><th valign="top" align="center" width="50%" style="border-bottom:1px solid black;padding-left: 4px;"><b>Spo2%</b></th></tr>
            <tr><td valign="top" align="left"><div style="float:left;text-align: left;padding-left: 4px;"></div></td></tr>
          </table>
        </td>
        
        <td valign="top" align="left" width="20%">
          <table width="100%" cellpadding="1px 4px" cellspacing="0" style="border-collapse: collapse;font-size:13px;">
            <tr><th valign="top" align="center" width="50%" style="border-bottom:1px solid black;padding-left: 4px;"><b>RBS/FBS</b></th></tr>
            <tr><td valign="top" align="left"><div style="float:left;text-align: left;padding-left: 4px;"></div></td></tr>
          </table>
        </td>
      </tr>
    </table>
	
	
	
	
	
	
	
  </page>
</body>
</html>