<!DOCTYPE html>
<html>
<head>
<title>Test Report</title>
<style>
	page {
	  background: white;
	  display: block;
	  margin: 0 auto;
	  margin-bottom: 0.5cm;
	  box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
	}
	page[size="A4"] {  
	  width: 2in;
	  height: 4in; 
	  padding: 1em;
	  font-size:13px;
	}
</style>
</head>
<body style="background: rgb(204,204,204);font-family:sans-serif, Arial;color:#333;">

	<page size="A4">
		
		<table width="100%" cellpadding="4px" cellspacing="0" border="0" style="border-collapse:collapse;">
			<tr><td valign="top" align="center"><h4 style="margin:0">Health Home</h4></td></tr>
			<tr><td valign="top" align="center" style="font-size:12px;">OPP. Rosera Block, Samastiple, Bihar</td></tr>
		</table>
		
		<table width="100%" cellpadding="4px" cellspacing="0" border="0" style="border-collapse:collapse;margin-top:3%;">
			<tr><td valign="top" align="center" style="border-bottom:1px solid #000"><h3 style="margin:0">Cash Receipt</h3></td></tr>
			<tr>
				<td valign="top" align="center" style="font-size:12px;">
					<table width="100%" cellpadding="0" cellspacing="0" border="0">
						<tr>
							<td valign="top" align="left"><b>Name:</b></td>
							<td valign="top" align="left">Mr. Naveen</td>
						</tr>
						<tr>
							<td valign="top" align="left"><b>Mobile No.:</b></td>
							<td valign="top" align="left">--</td>
						</tr>
						<tr>
							<td valign="top" align="left"><b>Sex/Age:</b></td>
							<td valign="top" align="left">M/37 years</td>
						</tr>
						<tr>
							<td valign="top" align="left"><b>Lab No.:</b></td>
							<td valign="top" align="left">LPN1128</td>
						</tr>
						<tr>
							<td valign="top" align="left"><b>Date:</b></td>
							<td valign="top" align="left">02/01/2017</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
		
		
		
		
		
		<div style="float:left;width:100%;min-height:50px;margin-bottom:5%;margin-top:5%;">
			 <!-- heading -->
			<div style="float:left;width:100%;height:25px;border-bottom:1px solid #000;font-size:12px;">
				<div style="float:left;width:13%;height:100%;font-weight:bold;">Sr.</div>
				<div style="float:left;width:57%;height:100%;font-weight:bold;">Test Name</div>
				<div style="float:left;width:30%;height:100%;font-weight:bold;">Charges</div>
			</div>
			
			<!-- body -->
			{start_loop}
			<div style="float:left;width:100%;min-height:15px;font-size:12px;">
				<div style="float:left;width:13%;height:100%;line-height:12px;">1</div>
				<div style="float:left;width:57%;height:100%;line-height:12px;">Blood Test</div>
				<div style="float:left;width:30%;height:100%;line-height:12px;text-align:right;">40.00</div>
			</div>
			{end_loop}
		</div> <!-- Close -->
		
		
		
		
		
		
		<table width="100%" cellpadding="4px" cellspacing="0" border="0" style="border-collapse:collapse;margin-top:3%;font-size:12px;border-top:1px solid #000">
			<tr>
				<th valign="top" align="left">Total:</th>
				<td valign="top" align="right">120.00</td>
			</tr>
			<tr>
				<th valign="top" align="left">Received:</th>
				<td valign="top" align="right">120.00</td>
			</tr>
			<tr>
				<th valign="top" align="left">Balance:</th>
				<td valign="top" align="right">0.00</td>
			</tr>
			<tr>
				<th valign="top" align="right" colspan="2">Signature</th>
			</tr>
		</table>
		
		
		
		
		
		
		


	</page>

</body>
</html>