<!DOCTYPE html>
<html>
<head>
<title>Test Report</title>
<style>
	page {
	  background: white;
	  display: block;
	  margin: 0 auto;
	  margin-bottom: 0.5cm;
	  box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
	}
	page[size="A4"] {  
	  width: 21cm;
	  height: 29.7cm;  
	  padding:5em  3em;
	  font-size:13px;
	}
</style>
</head>
<body style="background: rgb(204,204,204);font-family:sans-serif, Arial;color:#333;font-size:13px;">

	<page size="A4">
		
		<table width="100%" cellpadding="4px" cellspacing="0" border="0" style="border-collapse:collapse;">
			<tr>
				<td width="30%"><img src="logo.png" width="120"></td>
				<td width="40%" align="center">
					<div style="display:block;font-size:20px;">HMAS</div>
					<div style="display:block;font-size:px;">E-156, Sector-63, Noida</div>
					<div style="display:block;font-size:px;">+91-94733641407</div>
					<div style="display:block;font-size:px;">None</div>
				</td>
				<td width="30%"></td>
			</tr>
		</table>
		
		<div style="display:block;font-size:20px;text-align:center;font-family:calibri;text-transform:uppercase;margin-top:10px;"><b>Admission record</b></div>
		<div style="display:block;border-top:2px solid black;margin-top:10px;"></div> <!-- border-top -->
		
		<table width="100%" cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse;">
			<tr>
				<td width="50%" align="left" valign="top">
					<table width="100%" cellpadding="4" cellspacing="0" border="0" style="border-collapse:collapse;margin-top:5px;">
						<tr>
							<th width="50%" align="left">Patient Reg. No.:</th>
							<td width="50%" align="left">{pateint_reg_no}</td>
						</tr>
						<tr>
							<th width="50%" align="left">Patient Name:</th>
							<td width="50%" align="left">{patient_name}</td>
						</tr>
						<tr>
							<th width="50%" align="left">Mobile No.:</th>
							<td width="50%" align="left">{mobile_no}</td>
						</tr>
						<tr>
							<th width="50%" align="left">Gender/Age:</th>
							<td width="50%" align="left">{patient_age}</td>
						</tr>
						
						<tr>
							<th width="50%" align="left">Patient Address:</th>
							<td width="50%" align="left">{patient_address}</td>
						</tr>
						<tr>
							<th width="50%" align="left">Admission Date:</th>
							<td width="50%" align="left">{booking_date}</td>
						</tr>
					</table>
				</td>
				<td width="50%" align="left" valign="top" style="border-left:2px solid black;padding-left:20px;">
					<table width="100%" cellpadding="4" cellspacing="0" border="0" style="border-collapse:collapse;margin-top:5px;">
						<tr>
							<th width="50%" align="left">IPD No.:</th>
							<td width="50%" align="left">{ipd_no}</td>
						</tr>
						
						<tr>
							<th width="50%" align="left">Doctor:</th>
							<td width="50%" align="left">{doctor_name}</td>
						</tr>
						<tr>
							<th width="50%" align="left">Room type:</th>
							<td width="50%" align="left">{room_type}</td>
						</tr>
						<tr>
							<th width="50%" align="left">Room No.:</th>
							<td width="50%" align="left">{room_no}</td>
						</tr>
						<tr>
							<th width="50%" align="left">Bed No.:</th>
							<td width="50%" align="left">{bed_no}</td>
						</tr>
						<tr>
							<th width="50%" align="left">MLC:</th>
							<td width="50%" align="left">{mlc}</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
		
		<div style="display:block;border-top:2px solid black;"></div> <!-- border-bottom -->
		
		<div style="display:block;margin-top:10px;font-size:20px;font-family:calibri;">
			<b><u>Attendants</u></b>
		</div>
		
		
		<table width="100%" cellpadding="4" cellspacing="0" border="0" style="border-collapse:collapse;margin-top:5px;">
			<tbody>
				<tr>
					<th width="5%" align="left">1.</th>
					<th width="10%" align="left">Name:</th>
					<td width="20%" align="left"></td>
					<th width="15%" align="left">Relation:</th>
					<td width="20%" align="left"></td>
					<th width="15%" align="left">Mobile No.:</th>
					<td width="25%" align="left"></td>
				</tr>
				<tr>
					<th width="5%" align="left">2.</th>
					<th width="10%" align="left">Name:</th>
					<td width="20%" align="left"></td>
					<th width="15%" align="left">Relation:</th>
					<td width="20%" align="left"></td>
					<th width="15%" align="left">Mobile No.:</th>
					<td width="25%" align="left"></td>
				</tr>
			</tbody>
		</table>
		
		<div style="display:block;border-top:2px solid black;margin-top:10px;"></div> <!-- border-bottom -->
		
		<div style="display:block;margin-top:10px;font-size:20px;font-family:calibri;">
			<b><u>Remarks</u></b>
		</div>
		<div style="display:block;margin-top:10px;border:2px solid black;padding:4px;min-height:80px;">
			<span>{remarks}</span>
		</div>
		
		<div style="display:block;margin-top:15px;text-align:right">
			<b>Signature:</b><br>
			<b>{signature}</b>
		</div>




		
		
		
		
		
		
		
		
		


	</page>

</body>
</html>