<html>
<head>
<title>Test Report</title>
<style>
	page {
	  background: white;
	  display: block;
	  margin: 0 auto;
	  margin-bottom: 0.5cm;
	  box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
	}
	page[size="A4"] {  
	  width: 2in;
	  height: 4in; 
	  padding: 1em;
	  font-size:13px;
	}
</style>
</head>
<body style="background: rgb(204,204,204);font-family:sans-serif, Arial;color:#333;">

	<page size="A4">
		
		<!-- Vertical -->
		<!-- <div style="float:left; width:100%; min-height: 100px;">
			<div style="float:left;width: 100%;height:80px;background:red;margin-bottom:2px;clear:both;">
				<img src="http://192.168.1.240/hmas/assets/uploads/barcode/251507893363250.png" style="width:100%; height: 100%; background: 100% 100%;">
			</div>
			<div style="float:left;width: 100%;height:80px;background:green;margin-bottom:2px;clear:both;">
				<img src="http://192.168.1.240/hmas/assets/uploads/barcode/251507893363250.png" style="width:100%; height: 100%; background: 100% 100%;">
			</div>
			<div style="float:left;width: 100%;height:80px;background:yellow;margin-bottom:2px;clear:both;">
				<img src="http://192.168.1.240/hmas/assets/uploads/barcode/251507893363250.png" style="width:100%; height: 100%; background: 100% 100%;">
			</div>
		</div> -->
		
		
		<!-- Horizontal -->
		<div style="float:left; width:100%; min-height: 100px;">
			<div style="width: 44px; height:80px;background:red;margin-bottom:2px;margin:auto;clear:both;">
				<img src="http://192.168.1.240/hmas/assets/uploads/barcode/261507895480255.png" style="width:100%; height: 100%; background: 100% 100%;">
			</div>
			<div style="width: 44px; height:80px;background:red;margin-bottom:2px;margin:auto;clear:both;">
				<img src="http://192.168.1.240/hmas/assets/uploads/barcode/261507895480255.png" style="width:100%; height: 100%; background: 100% 100%;">
			</div>
			<div style="width: 44px; height:80px;background:red;margin-bottom:2px;margin:auto;clear:both;">
				<img src="http://192.168.1.240/hmas/assets/uploads/barcode/261507895480255.png" style="width:100%; height: 100%; background: 100% 100%;">
			</div>
		</div>
		
		
		
		
		
		
		
		
		


	</page>

</body>
</html>