<!DOCTYPE html>
<html>
<head>
	<title>Test Report</title>
	<style>
		page {
		  background: white;
		  display: block;
		  margin: 0 auto;
		  margin-bottom: 0.5cm;
		  box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
		}
		page[size="A4"] {  
		  width: 21cm;
		  height: 29.7cm; 
		  padding: 2em;
		}
	</style>
</head>
<body style="background: rgb(204,204,204);font-family:sans-serif, Arial;color:#333;">

	<page size="A4">
		<div class="logo" style="float:left;width:200px;min-height:100px;">
			<img src="logo.png" style="width: auto;background-size:cover;">
		</div>
		<div class="adderss" style="float:right;width:250px;min-height:100px;padding:0 5px;">
			<div style="float:left;width:250px;">
				<div style="width:;line-height:17px;word-wrap:break-word;text-align: left;font-size:medium;">
					<address style="">
					<b>Address :</b><br>
					Noida Sec - 63,<br>
					E-156<br>
					1st floor
					</address>
				</div>
			</div>
		</div>

		<div class="row" style="float:left;width:100%;min-height:100px;*border:1px solid #eee;clear:both;margin-top:1em;">
			<div style="float:left;width:32%;min-height:100px;margin-right:1.5%;">
				<div style="float:left;width:100%;margin-bottom:2px;">
					<div style="float:left;width:50%;font-weight:bold;font-size:small;line-height:17px;">Patient  Reg. No. :</div>
					<div style="float:left;width:50%;font-size:small;line-height:17px;">PATSe00027</div>
				</div>

				<div style="float:left;width:100%;margin-bottom:2px;">
					<div style="float:left;width:50%;font-weight:bold;font-size:small;line-height:17px;">Patient Name :</div>
					<div style="float:left;width:50%;font-size:small;line-height:17px;">Alok Kumar</div>
				</div>

				<div style="float:left;width:100%;margin-bottom:2px;">
					<div style="float:left;width:50%;font-weight:bold;font-size:small;line-height:17px;">Gender/Age :</div>
					<div style="float:left;width:50%;font-size:small;line-height:17px;">Alok Kumar</div>
				</div>

				<div style="float:left;width:100%;margin-bottom:2px;">
					<div style="float:left;width:50%;font-weight:bold;font-size:small;line-height:17px;">Referrerd By :</div>
					<div style="float:left;width:50%;font-size:small;line-height:17px;">Dr. Raman</div>
				</div>
			</div>

			<div style="float:left;width:32%;min-height:100px;">
				<div style="float:left;width:100%;margin-bottom:2px;">
					<div style="float:left;width:50%;font-weight:bold;font-size:small;line-height:17px;">Doctor Name :</div>
					<div style="float:left;width:50%;font-size:small;line-height:17px;">Akber</div>
				</div>
			</div>

			<div style="float:right;width:32%;min-height:100px;">
				<div style="float:left;width:100%;margin-bottom:2px;">
					<div style="float:left;width:50%;font-weight:bold;font-size:small;line-height:17px;">Lab Ref. No. :</div>
					<div style="float:left;width:50%;font-size:small;line-height:17px;">LPNSe00035</div>
				</div>
				
				<div style="float:left;width:100%;margin-bottom:2px;">
					<div style="float:left;width:50%;font-weight:bold;font-size:small;line-height:17px;">Mobile No. : </div>
					<div style="float:left;width:50%;font-size:small;line-height:17px;">4487845465 </div>
				</div>
				
				<div style="float:left;width:100%;margin-bottom:2px;">
					<div style="float:left;width:50%;font-weight:bold;font-size:small;line-height:17px;">Collected Date: </div>
					<div style="float:left;width:50%;font-size:small;line-height:17px;">24/05/2017 </div>
				</div>
				
				<div style="float:left;width:100%;margin-bottom:2px;">
					<div style="float:left;width:50%;font-weight:bold;font-size:small;line-height:17px;">Reported Date: </div>
					<div style="float:left;width:50%;font-size:small;line-height:17px;">24/05/2017 </div>
				</div>
			</div>
		</div>


		<div style="float:left;width:100%;text-align:center;text-decoration:underline;font-size:medium;font-weight:bold;margin-bottom:0.5em;">LIVER FUNCTION TEST</div>

		<table width="100%" cellpadding="0" cellspacing="0" border="" style="border-collapse:collapse;">
			<thead>
				<tr>
					<th align="left" style="font-size: small;padding:5px;text-decoration: underline;">Parameter</th>
					<th align="left" style="font-size: small;padding:5px;text-decoration: underline;">Result</th>
					<th align="left" style="font-size: small;padding:5px;text-decoration: underline;">Unit</th>
					<th align="left" style="font-size: small;padding:5px;text-decoration: underline;">Reference Range</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td style="font-size: small;padding:5px;">S. BILIRUBIN(Total)</td>
					<td style="font-size: small;padding:5px;font-weight:bold;">666</td>
					<td style="font-size: small;padding:5px;">mg/dl.</td>
					<td style="font-size: small;padding:5px;">0.1 - 1.2</td>
				</tr>
			</tbody>
		</table>



		<div style="float:left;width:100%;margin:1em 0;">
			<div style="font-size:small;line-height:18px;">
				<b>Bilirubin :</b>
				A raised bilirubin always needs investigating for possible liver disease. However a high normal bilirubin means one is a slow detoxifier. those people with borderline results may be diagnosed with Gilbert's syndrome. The problem for people who we are slow detoxifiers is that they are at increased rist of toxic stress form within the boy.<br>
				<b>Total protien-</b> Protien is a resource for healing and repair as well as a carrier molecule for hormones, minerals etc.
			</div>
		</div>


		

		<table width="100%" cellpadding="0" cellspacing="0" border="" style="border-collapse:collapse;">
			<thead>
				<tr>
					<th align="left" style="font-size: small;padding:5px;text-decoration: underline;">Parameter</th>
					<th align="left" style="font-size: small;padding:5px;text-decoration: underline;">Result</th>
					<th align="left" style="font-size: small;padding:5px;text-decoration: underline;">Unit</th>
					<th align="left" style="font-size: small;padding:5px;text-decoration: underline;">Reference Range</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td style="font-size: small;padding:5px;">ALBUMIN</td>
					<td style="font-size: small;padding:5px;font-weight:bold;">41re</td>
					<td style="font-size: small;padding:5px;">gms/dl.</td>
					<td style="font-size: small;padding:5px;">3.5 - 5.0</td>
				</tr>
			</tbody>
		</table>



		<div style="float:left;width:100%;margin:1em 0;">
			<div style="font-size:small;line-height:18px;">
				<b>Albumin :</b>
				Albumin maintians the osmolarity of blood. Globulin is an immune system protien which may rise with immune activvity. <br>
				<b>Globulin</b> One can also do electophoresis of globuling to look  for paraprotein disease.
			</div>
		</div>


		<div style="float:left;width:100%;text-align:center;text-decoration:underline;font-size:medium;font-weight:bold;margin-bottom:0.5em;">LIVER FUNCTION TEST</div>

		<table width="100%" cellpadding="0" cellspacing="0" border="" style="border-collapse:collapse;">
			<thead>
				<tr>
					<th align="left" style="font-size: small;padding:5px;text-decoration: underline;">Parameter</th>
					<th align="left" style="font-size: small;padding:5px;text-decoration: underline;">Result</th>
					<th align="left" style="font-size: small;padding:5px;text-decoration: underline;">Unit</th>
					<th align="left" style="font-size: small;padding:5px;text-decoration: underline;">Reference Range</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td style="font-size: small;padding:5px;">ALKALINE PHOSPHATASE</td>
					<td style="font-size: small;padding:5px;font-weight:bold;"> </td>
					<td style="font-size: small;padding:5px;">IU/L</td>
					<td style="font-size: small;padding:5px;">80 - 290</td>
				</tr>
			</tbody>
		</table>



		<div style="float:left;width:100%;margin:1em 0;">
			<div style="font-size:small;line-height:18px;">
				<b>Alkaline phosphatase :</b>
				If it high means damage to liver, muscle or bone. <b>S.G.O.T</b> - This enzymes are normally predominantly contained withing livert cells and to a lesser degree in the muscle cells. If the liver is injured or damaged, the liver cells spill these enzymes into the blood, raising the AST enzyme bloog levels and isgnaling liver disease. <br>
				<b>S.G.P.T</b> <br/>
				<ul style="list-style: square;">
					<li>Peripheral smear: Red cells are normocytic normochromic. WBC series is normal in number and distribution. Platelets are adequate. No abnormal cells/ haemoparasite seen.</li>
					<li>Peripheral smear: Red cells are microcytic, hypochromic with mild anisopoikilocytosis. Few tear drop cells are seen. WBC series shows mild neutrophilia. Platelets are adequate. No abnormal cell/haemoparasite seen.</li>
				</ul>
			</div>
		</div>


	</page>

</body>
</html>