<body style="margin:0; padding:0; font-family:Arial, Helvetica, sans-serif, 'Helvetica Condensed'; font-size:11px; color:#000">

<br>
<table width="750" border="0" align="center" cellpadding="0" cellspacing="0" style="background:#ffffff; border:1px solid #f1f1f1; padding:10px;">
  <tr>
  
  <td style="padding:10px;">

<table width="750" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td align="center" valign="middle"><table width="740" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="262" align="left" valign="top"><img src="http://www./assets/images/logo1.png" height="45" width="234"></td>
        <td width="166" align="center" valign="top" style="font-size:11px; line-height:22px;"><strong>Retail Invoice</strong> <br />
        <span style="font-size:12px; font-weight:bold">Date:</span> <span style="font-size:12px;"><?php echo $order_date;?><br>
        <strong>Buyers Order Ref. No.</strong></span> <span style="font-size:12px;"><?php echo $order_id;?></span></td>
        <td width="9" align="left" valign="top">&nbsp;</td>
        <td width="153" align="right" valign="top" style="font-size:11px; line-height:18px">
        	<strong>DK Eatery Services LLP </strong><br>
			  T-301, Chetan Plaza,<br />
			Mayur Vihar-1 extn. <br />
			Delhi-110096 <br />
			+91-8882880044<br />
			<a href="mailto:info@" style="color:#000000; text-decoration:none">info@</a>
        </td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td align="center" valign="middle">&nbsp;</td>
  </tr>
<!--  <tr>
    <td align="center" valign="middle" style="font-size:18px"><strong>Retail Invoice</strong></td>
  </tr>-->
  <tr>
    <td align="center" valign="middle">
    
    <table width="739" border="0" cellspacing="0" cellpadding="0" style="border:1px solid #ddd; margin-bottom:-6px">
      <tr>
        <td colspan="2" rowspan="5" align="left" valign="top" style="border:1px solid #ddd; padding:6px 3px"><p style="font-size:12px; padding:5px 10px">
        <?php echo $billing_address;?>
        </p></td>
        <td style="border:1px solid #ddd; padding:6px 0"><p style="font-size:12px; padding:5px 10px"><?php echo $delivery_address;?></p></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td align="center" valign="middle" style="padding-top:5px;">
	<?php echo $order_content;?>
	</td>
  </tr>
  <tr>
    <td align="center" valign="middle"><table width="740" border="0" cellspacing="0" cellpadding="5" style="font-size:11px">
      <tr>
        <td colspan="2" align="left" valign="top" height="5"></td>
        </tr>
      
      <tr>
        <td align="left" colspan="2" valign="top"><?php echo $order_total_in_words;?> Only</td>
      </tr>
      <tr>
        <td align="left" valign="top">&nbsp;</td>
        <td align="left" valign="top">&nbsp;</td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td align="left" valign="middle"><table width="740" border="0" align="center" cellpadding="5" cellspacing="0" style="font-size:11px;">
      <tr>
        <td colspan="2" style="font-weight:bold; border-top:2px dotted #ccc;">Note:</td>
        </tr>
      <tr>
        <td colspan="2">Purchases are made on <br>
Tax is VAT or CST as applicable </td>
      </tr>
      
    </table></td>
  </tr>
  <tr>
    <td align="center" valign="middle"><table width="740" border="0" cellspacing="0" cellpadding="5" style="font-size:11px; line-height:20px ">
      <tr>
        <td width="317" align="left" valign="bottom" style="border-bottom:1px solid #aaa; border-top:1px solid #aaa; border-right:1px solid #aaa;"><strong>Contact Customer Care at:</strong><br />
+91-8882880044 or </td>
        <td width="403" align="right" valign="bottom" style="border-bottom:1px solid #aaa; border-top:1px solid #aaa; border-top:1px solid #aaa;"><strong>For DK Eatery Services LLP</strong><br />This is computer generated Invoice, no manual signature needed.
         
          
      </tr>
    </table></td>
  </tr>
  <tr>
    <td align="center" valign="middle" height="10"></td>
  </tr>
</table>


</td>

</tr>

</table>

</body>
</html>