<!DOCTYPE html>
<html>
<head>
	<title>Test Report</title>
	<style>
		page {
		  background: white;
		  display: block;
		  margin: 0 auto;
		  margin-bottom: 0.5cm;
		  box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
		}
		page[size="A4"] {  
		  width: 21cm;
		  height: 29.7cm; 
		  padding: 4em;
		}
	</style>
</head>
<body style="background: rgb(204,204,204);font-family:sans-serif, Arial;color:#333;">

	<page size="A4">
		
		<!-- <table border="0" cellpadding="4px" cellspacing="0" width="100%" style="border-collapse: collapse;font-size:13px;">
			<tr>
				<td valign="top" align="left" width="33%">
					
				</td>
				<td valign="top" align="left" width="33%"></td>
				<td valign="top" align="left">
					<div><b>Address: </b></div>
					<div>Noida Sec - 63, </div>
					<div>Block - E 156 </div>
					<div>Floor - 1st </div>
				</td>
			</tr>
		</table> -->

		<div style="float:left;width:100%;min-height:10px;border:1px solid #ccc;margin-bottom:2%">
			
		</div>


		
		<table border="1" cellpadding="4px" cellspacing="0" width="100%" style="border-collapse: collapse;font-size:13px;margin-top:1%;">
			<tr>
				<td valign="top" align="left" width="33.33%" cellpadding="4px" cellspacing="0" width="100%">
					<table width="100%" cellpadding="0px 4px" cellspacing="0" style="border-collapse: collapse;font-size:13px;">
						<tr>
							<td valign="top" align="left" width="50%"><b>Patient Reg. No. :</b></td>
							<td valign="top" align="left">SARAPAT16</td>
						</tr>
						<tr>
							<td valign="top" align="left" width="50%"><b>Patient Name :</b></td>
							<td valign="top" align="left">Prabhat</td>
						</tr>
						<tr>
							<td valign="top" align="left" width="50%"><b>Gender/Age :</b></td>
							<td valign="top" align="left">Male /35 Yrs., 5 Months, 5 Days</td>
						</tr>
						<tr>
							<td valign="top" align="left" width="50%"><b>Referrerd By :</b></td>
							<td valign="top" align="left">Prashant Srivastava</td>
						</tr>
					</table>
				</td>
				<td valign="top" align="left" width="33.33%">
					<table width="100%" cellpadding="0px 4px" cellspacing="0" style="border-collapse: collapse;font-size:13px;">
						<tr>
							<td valign="top" align="left" width="50%"><b>Doctor Name :</b></td>
							<td valign="top" align="left">Prashant Kumar Srivastava</td>
						</tr>
					</table>
				</td>
				<td valign="top" align="left" width="33.33%">
					<table width="100%" cellpadding="0px 4px" cellspacing="0" style="border-collapse: collapse;font-size:13px;">
						<tr>
							<td valign="top" align="left" width="50%"><b>Lab Ref. No. :</b></td>
							<td valign="top" align="left">SARAOPD27</td>
						</tr>
						<tr>
							<td valign="top" align="left" width="50%"><b>Mobile No. :</b></td>
							<td valign="top" align="left">5465465465</td>
						</tr>
						<tr>
							<td valign="top" align="left" width="50%"><b>Collected Date:</b></td>
							<td valign="top" align="left">2017-06-16</td>
						</tr>
						<tr>
							<td valign="top" align="left" width="50%"><b></b></td>
							<td valign="top" align="left">2017-06-16</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>




		<table border="1" cellpadding="4px" cellspacing="0" width="100%" style="border-collapse: collapse;font-size:13px;margin-top: 5%;">
			<tr>
				<td valign="top" align="left" width="20%">
					<table width="100%" cellpadding="1px 4px" cellspacing="0" style="border-collapse: collapse;font-size:13px;">
						<tr><th valign="top" align="left" width="50%" style="border-bottom:1px solid black;"><b>Temprature</b></th></tr>
						<tr><td valign="top" align="left">99</td></tr>
					</table>
				</td>
				<td valign="top" align="left" width="20%">
					<table width="100%" cellpadding="1px 4px" cellspacing="0" style="border-collapse: collapse;font-size:13px;">
						<tr><th valign="top" align="left" width="50%" style="border-bottom:1px solid black;"><b>Weight</b></th></tr>
						<tr><td valign="top" align="left">65</td></tr>
					</table>
				</td>
				<td valign="top" align="left" width="20%">
					<table width="100%" cellpadding="1px 4px" cellspacing="0" style="border-collapse: collapse;font-size:13px;">
						<tr><th valign="top" align="left" width="50%" style="border-bottom:1px solid black;"><b>Height</b></th></tr>
						<tr><td valign="top" align="left">88</td></tr>
					</table>
				</td>
				<td valign="top" align="left" width="20%">
					<table width="100%" cellpadding="1px 4px" cellspacing="0" style="border-collapse: collapse;font-size:13px;">
						<tr><th valign="top" align="left" width="50%" style="border-bottom:1px solid black;"><b>Spo2%</b></th></tr>
						<tr><td valign="top" align="left">55</td></tr>
					</table>
				</td>
				<td valign="top" align="left" width="20%">
					<table width="100%" cellpadding="1px 4px" cellspacing="0" style="border-collapse: collapse;font-size:13px;">
						<tr><th valign="top" align="left" width="50%" style="border-bottom:1px solid black;"><b>Weight</b></th></tr>
						<tr><td valign="top" align="left">65</td></tr>
					</table>
				</td>
			</tr>
		</table>



		<div style="width:100%;font-weight:bold;text-align: center;margin-top:5%;text-decoration:underline;">Test</div>
		<table border="1" cellpadding="4px" cellspacing="0" width="100%" style="border-collapse: collapse;font-size:13px;margin-top: 1%;">
			<tr>
				<td valign="top" align="left"><b>Test Name</b></td>
			</tr>
		</table>



		<!-- <div style="width:100%;font-weight:bold;text-align: center;margin-top:2%;text-decoration:underline;">Test</div> -->
		<table border="1" cellpadding="4px" cellspacing="0" width="100%" style="border-collapse: collapse;font-size:13px;margin-top: 1%;">
			<tr>
				<td valign="top" align="left" width="15%"><b>Bilirubin : </b></td>
				<td valign="top" align="left">A raised bilirubin always needs investigating for possible liver disease. However a high normal bilirubin means one is a slow detoxifier. those people with borderline results may be diagnosed with Gilbert's syndrome. The problem for people who we are slow detoxifiers is that they are at increased rist of toxic stress form within the boy.</td>
			</tr>
			<tr>
				<td valign="top" align="left" width="15%"><b>Total protien-</b></td>
				<td valign="top" align="left">Protien is a resource for healing and repair as well as a carrier molecule for hormones, minerals etc</td>
			</tr>
		</table>




		<table border="1" cellpadding="4px" cellspacing="0" width="100%" style="border-collapse: collapse;font-size:13px;margin-top: 1%;">
			<tr>
				<th valign="top" align="left"><u>Medicine Name</u></th>
				<th valign="top" align="left"><u>Medicine Type</u></th>
				<th valign="top" align="left"><u>Medicine Dose</u></th>
				<th valign="top" align="left"><u>Medicine Frequency</u></th>
				<th valign="top" align="left"><u>Medicine Duration</u></th>
				<th valign="top" align="left"><u>Medicine Advice</u></th>
			</tr>
			<tr>
				<td valign="top" align="left">--</td>
				<td valign="top" align="left">--</td>
				<td valign="top" align="left">--</td>
				<td valign="top" align="left">--</td>
				<td valign="top" align="left">--</td>
				<td valign="top" align="left">--</td>
			</tr>
		</table>


		<table border="1" cellpadding="4px" cellspacing="0" width="100%" style="border-collapse: collapse;font-size:13px;margin-top: 1%;">
			<tr>
				<td valign="top" align="left" width="15%"><b>Albumin : </b></td>
				<td valign="top" align="left">Albumin maintians the osmolarity of blood. Globulin is an immune system protien which may rise with immune activvity. </td>
			</tr>
			<tr>
				<td valign="top" align="left" width="15%"><b>Globulin </b></td>
				<td valign="top" align="left">One can also do electophoresis of globuling to look for paraprotein disease.</td>
			</tr>
		</table>








		<div style="width:100%;font-weight:bold;text-align: center;margin-top:5%;text-decoration:underline;">LIVER FUNCTION TEST</div>
		<table border="1" cellpadding="4px" cellspacing="0" width="100%" style="border-collapse: collapse;font-size:13px;margin-top: 1%;">
			<tr>
				<th valign="top" align="left"><u>Parameter</u></th>
				<th valign="top" align="left"><u>Result</u></th>
				<th valign="top" align="left"><u>Unit</u></th>
				<th valign="top" align="left"><u>Reference Range</u></th>
			</tr>
			<tr>
				<td valign="top" align="left">ALKALINE PHOSPHATASE</td>
				<td valign="top" align="left">--</td>
				<td valign="top" align="left">IU/L</td>
				<td valign="top" align="left">80 - 290</td>
			</tr>
		</table>






		<table border="1" cellpadding="4px" cellspacing="0" width="100%" style="border-collapse: collapse;font-size:13px;margin-top: 1%;">
			<tr>
				<td valign="top" align="left" width="15%"><b>Alkaline phosphatase :</b></td>
				<td valign="top" align="left">If it high means damage to liver, muscle or bone. S.G.O.T - This enzymes are normally predominantly contained withing livert cells and to a lesser degree in the muscle cells. If the liver is injured or damaged, the liver cells spill these enzymes into the blood, raising the AST enzyme bloog levels and isgnaling liver disease.</td>
			</tr>
			<tr>
				<td valign="top" align="left" width="15%"><b>S.G.P.T </b></td>
				<td valign="top" align="left">
					<p>Peripheral smear: Red cells are normocytic normochromic. WBC series is normal in number and distribution. Platelets are adequate. No abnormal cells/ haemoparasite seen.</p>
					<p>Peripheral smear: Red cells are microcytic, hypochromic with mild anisopoikilocytosis. Few tear drop cells are seen. WBC series shows mild neutrophilia. Platelets are adequate. No abnormal cell/haemoparasite seen.</p>
				</td>
			</tr>
		</table>


	</page>

</body>
</html>